[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiohttp = ">=3.13"
alembic = ">=1.17.2"
argon2-cffi = "*"
asyncpg = ">=0.31.0"
black = "*"
email-validator = "*"
fastapi = ">=0.125"
Jinja2 = ">=3.1.6"
loguru = "*"
passlib = {extras = ["bcrypt"], version = "*"}
psycopg2-binary = ">=2.9.11"
pydantic-settings = "*"
pyjwt = {extras = ["crypto"], version = "*"}
python-dotenv = "*"
redis = "==7.1.0"
rich = "*"
sqlalchemy = ">=2.0.45"
typer = "*"
uvicorn = ">=0.38.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "^3.12"
python_full_version = "3.12.9"
